<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd"
		default-lazy-init="false">
		
	
	
	<bean id="testDA" class="com.metarnet.sfpw.test.da.TestDA">
		<constructor-arg>
			<props>
				<prop key=""></prop>
			</props>
		</constructor-arg>
	</bean>

	<bean id="cfgMgrImp" class="com.metarnet.sfpw.kyland.mgr.KylandConfiguration" init-method="init">
		<property name="config" ref="config" ></property>
		<property name="database" ref="database"></property>
		<property name="driver" ref="kylandCorbaDriver"></property>
	</bean>
	
	<bean id="notifyMgrImp" class="com.metarnet.sfpw.kyland.mgr.KylandAlarmMgrImpl" init-method="init">
		<property name="config" ref="config" ></property>
		<property name="database" ref="database"></property>
		<property name="driver" ref="kylandCorbaDriver"></property>
	</bean>

	<bean id="perfMgrImp" class="com.metarnet.sfpw.kyland.mgr.KylandPerfMgrImpl" init-method="init">
		<property name="config" ref="config" ></property>
		<property name="database" ref="database"></property>
		<property name="driver" ref="kylandCorbaDriver"></property>
	</bean>

	<bean id="taskManger" class="com.metarnet.sfpw.base.timedtask.TaskManager" init-method="doStart">
		<property name="config" ref="config"></property>
		<property name="database" ref="database"></property>
		<property name="cfgMgr" ref="cfgMgrImp"></property>
		<property name="notifyMgr" ref="notifyMgrImp"></property>
		<property name="perfMgr" ref="perfMgrImp"></property>
	</bean>
	
	<bean id="dcpHandler" class="com.metarnet.sfpw.base.interactivetask.DCPHandler" init-method="init" destroy-method="destroy">
		<property name="cfgMgr" ref="cfgMgrImp"></property>
		<property name="notifyMgr" ref="notifyMgrImp"></property>
		<property name="perfMgr" ref="perfMgrImp"></property>
	</bean>

</beans>